@import 'mixins';
@import 'extends';
$sm-width: 900;
$md-width: 1100;

.apropos {
    $grid-temp-0: 1fr;
    $grid-temp-1: 1fr 1fr;
    $grid-size-1: $sm-width;
    @include grid($grid-temp-0, $grid-temp-1, $grid-size-1);
    grid-gap: .7rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;

    &_text {
        padding: 3rem 2rem;

        @include _breakpoint-min($sm-width) {
            padding: 3rem 2rem 1rem 2rem;
        }

        @include _breakpoint-min($md-width) {
            padding: 3rem 6rem 1rem 6rem;
        }

        &_title {
            @extend %title-article;
            text-align: left;
        }

        &_desc {
            padding: 0;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            line-height: 1.7rem;
        }

        &_btn {
            @extend %btn-danger;
            font-size: 1.3rem;
        }
    }

    &_img-content {
        position: relative;

        @include _breakpoint-max($sm-width + 1) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: .8rem;
        }

        & img {
            max-width: 100%;

            @include _breakpoint-min($sm-width) {
                max-width: 250px;
            }

        }

        &_img1 {
            opacity: .5;

            @include _breakpoint-max($sm-width - 1) {
                opacity: 1;
            }
        }

        &_img2 {
            & img {
                transform: translate(-40%, -40%);

                @include _breakpoint-max($sm-width - 1) {
                    transform: translate(0%, 0%);
                }
            }
        }
    }
}
