<footer class="footer" *ngIf="footer">
  <div class="footer-wrapper">
    <div class="footer-grid">
      <div class="footer_liste" *ngFor="let f of footer?.liste">
        <input type="checkbox" id="{{f?.checkbox}}">
        <label class="footer_liste_label" for="{{f?.checkbox}}">{{f?.label}}</label>
        <ul class="footer_liste_content">
          <li *ngFor="let contenu of f?.content">
            <a href="">{{contenu}}</a>
          </li>

        </ul>
      </div>
      <div class="footer_liste">
        <input type="checkbox" id="{{footer?.follow?.follow}}">
        <label class="footer_liste_label" for="{{footer?.follow?.follow}}">{{footer?.follow?.label}}</label>
        <ul class="footer_liste_content">
          <li>
            <a *ngFor="let rs of footer?.follow?.rs"><i class="fab fa-{{rs}} fa-2x"></i></a>
          </li>

          <li><a href="#" title="payment methode">payment methode</a></li>
          <li>
            <a *ngFor="let payment of footer?.follow?.payment" href="">
              <i class="fab fa-cc-{{payment}} fa-5x"></i>
            </a>
          </li>

        </ul>
      </div>
      <div class="footer_copyright">
        copyright {{  dateNow | date: 'yyyy' }} - bicycle company
      </div>
    </div>
  </div>
</footer>
