<div class="rs_grid">
  <div class="rs_instagram">
    <div class="instagram_title">Instagram</div>
    <div>image 1</div>
    <div>image 2</div>
    <div>image 3</div>
    <div>image 4</div>
    <div>image 5</div>
    <div>image 6</div>
  </div>
  <div class="rs_twitter">
      <div class="rs_icon"> <i class="fab fa-twitter"></i> </div>
      <div class="rs_name">twitter</div>
      <div class="rs_followers">8899</div>
      <div class="rs_hash">#amaryassa</div>
  </div>
  <div class="rs_last-tweet">
    <div class="tweet_title">latest tweet</div>
    <div class="tweet_content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, soluta?
      <span class="hashtag">#Amar </span>
      <span class="hashtag"> #jsk</span>
    </div>
    <div class="tweet-info">
        <div class="tweet-info_name">@amaryassa</div>
        <div class="tweet-info_time">12min</div>
        <div class="tweet-info_btn btn">
            <span class="tweet-info_prev"><i class="fas fa-chevron-left"></i></span>
            <span class="tweet-info_next"><i class="fas fa-chevron-right"></i></span>
        </div>
    </div>
  </div>
  <div class="rs_facebook">
      <div class="rs_icon"> <i class="fab fa-facebook"></i> </div>
      <div class="rs_name">facebook</div>
      <div class="rs_followers">10594</div>
      <div class="rs_hash">#amar.yassa</div>
  </div>
</div>
