<div class="rs_grid">

  <div class="full" [ngStyle]="{background: 'url('+rs_big_image+')'}">
    <div class="full-info">
      <div class="full-info_content">
        <div class="full-info_title">bicycle company</div>
        <div class="full-info_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nobis porro eius
          molestias fuga assumenda atque natus soluta qui hic.</div>
        <div class="full-info_desc">Lorem ipsum dolor sit amet consectetur.</div>
        <div class="full-info_desc">Lorem ipsum dolor sit amet.</div>
        <div class="full-info_expression">if it ain't fixed, it's broken</div>
      </div>
    </div>
  </div>

  <div class="instagram">
    <span class="instagram_title"><a class="instagram_title_btn">@Instagram</a></span>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of images?.slides" class="slide">
        <picture>
          <img [attr.data-lazy]=slide.img alt="">
        </picture>
      </div>
    </ngx-slick-carousel>
  </div>

  <div class="twitter">
    <div class="icon"> <i class="fab fa-twitter"></i> </div>
    <div class="name">twitter</div>
    <div class="followers">8899</div>
    <div class="hash">#amaryassa</div>
  </div>
  <div class="tweet">
    <div class="tweet_title">latest tweet</div>
    <div class="tweet_content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, soluta?
      <span class="hashtag">#Amar </span>
      <span class="hashtag"> #jsk</span>
    </div>
    <div class="tweet-info">
      <div class="tweet-info_name">@amaryassa</div>
      <div class="tweet-info_time">12min</div>
      <div class="tweet-info_btn">
        <span class="tweet-info_prev"><i class="fas fa-chevron-left"></i></span>
        <span class="tweet-info_next"><i class="fas fa-chevron-right"></i></span>
      </div>
    </div>
  </div>
  <div class="facebook">
    <div class="icon"> <i class="fab fa-facebook"></i> </div>
    <div class="name">facebook</div>
    <div class="followers">10594</div>
    <div class="hash">#amar.yassa</div>
  </div>
</div>
