<!-- <div class="articles-grid">
    <app-featured-product class="amar1"></app-featured-product>
    <app-featured-product class="amar2"></app-featured-product>
    <app-featured-product class="amar3"></app-featured-product>
    <app-featured-product class="amar4"></app-featured-product>
</div> -->

<div class="articles">
  <h2 class="articles-title">featured products</h2>

      <!-- <div class="product_infos"
      [ngStyle]="{background: 'url('+url_+'), linear-gradient(to right, #64696D 0%, rgba(100, 105, 109, 0.2) 100%)'}"
      > -->
      <div class="information information1">
        <picture><img class="yassa" [src]=url_ alt=""></picture>
        <div class="product_infos">
            <div class="product_infos_title">Lorem ipsum, dolor </div>
            <div class="product_infos_prix"> $ 19.OO</div>
            <div class="product_infos_buy btn"> buy &nbsp;<i class="fas fa-shopping-cart"></i></div>
            <div class="product_infos_heart"><i  class="far fa-heart"></i></div>
        </div>
      </div>
      <div class="information information2">
          <picture><img class="yassa" [src]=url_ alt=""></picture>
          <div class="product_infos">
              <div class="product_infos_title">Lorem ipsum, dolor </div>
              <div class="product_infos_prix"> $ 19.OO</div>
              <div class="product_infos_buy btn"> buy &nbsp;<i class="fas fa-shopping-cart"></i></div>
              <div class="product_infos_heart"><i  class="far fa-heart"></i></div>
          </div>
        </div>
        <div class="information information3">
            <picture><img class="yassa" [src]=url_ alt=""></picture>
            <div class="product_infos">
                <div class="product_infos_title">Lorem ipsum, dolor </div>
                <div class="product_infos_prix"> $ 19.OO</div>
                <div class="product_infos_buy btn"> buy &nbsp;<i class="fas fa-shopping-cart"></i></div>
                <div class="product_infos_heart"><i  class="far fa-heart"></i></div>
            </div>
          </div>
          <div class="information information4">
              <picture><img class="yassa" [src]=url_ alt=""></picture>
              <div class="product_infos">
                  <div class="product_infos_title">Lorem ipsum, dolor </div>
                  <div class="product_infos_prix"> $ 19.OO</div>
                  <div class="product_infos_buy btn"> buy &nbsp;<i class="fas fa-shopping-cart"></i></div>
                  <div class="product_infos_heart"><i  class="far fa-heart"></i></div>
              </div>
            </div>

</div>
