@import 'mixins';
@import 'extends';

$color-bloc-1 : #64696D;
$color-bloc-2 : #343746;
$color-bloc-3 : #2F161A;
$color-bloc-4 : #FABF61;


.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 150px 150px 150px;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-auto-flow: dense;

    @include _breakpoint-min(680) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 200px 200px;
    }

    @include _breakpoint-min(980) {
        grid-template-rows: auto 300px 300px;
    }

    &-title {
        @extend %title-article;
        grid-column: 1/-1;
    }
}

.product {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: .3rem;

    &_img {
        position: absolute;
        top: .3rem;
        right: .3rem;

        margin: auto;
        max-width: 100%;
        max-height: 100%;

        z-index: -1;
        mix-blend-mode: multiply;
    }

    &_infos {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .2rem;
        overflow: hidden;
        bottom: 1rem;
        justify-content: center;
        align-items: center;

        padding: .3rem;
        width: 100%;
        max-width: 25rem;

        text-align: center;
        color: #fff;


        &_before-title {
            grid-column: 1/-1;
            display: flex;
            padding: .8rem .3rem;
            font-size: 1.3rem;
        }

        &_title {
            grid-column: 1/-1;
            display: flex;
            padding: 2rem .3rem;
            line-height: 2.2rem;
            font-size: 2rem;
            font-weight: 600;
        }

        &_prix {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &_buy {
            @extend %btn-white;
            padding: .575rem .5rem;

            & a {
                text-decoration: none;
                color: initial;
            }
        }

        &_heart .far {
            @extend %icon-heart;
        }
    }

    &:nth-of-type(1) {
        @include horizontal-gradient($color-bloc-1);
        grid-column: span 2;
    }

    &:nth-of-type(2) {
        @include horizontal-gradient($color-bloc-2);
        grid-column: span 1;
        grid-row: span 2;
    }

    &:nth-of-type(3) {
        @include horizontal-gradient($color-bloc-3);
        grid-column: span 1;
    }

    &:nth-of-type(4) {
        @include horizontal-gradient($color-bloc-4);
        grid-column: span 1;
    }
}
