<!-- {{featured_products | json}} -->
<div class="articles" *ngIf="featured_products">
  <h2 class="articles-title">featured products</h2>
      <div class="product" *ngFor="let featured_p of featured_products">
        <picture><img class=" product_img" [src]=featured_p?.img alt=""></picture>
        <div class="product_infos">
            <div class="product_infos_before-title">{{featured_p?.text_before_title}}</div>
            <div class="product_infos_title">{{featured_p?.title}} </div>
            <div class="product_infos_buy"> <a href="{{featured_p?.buy}}"> buy &nbsp;<i class="fas fa-shopping-cart"></i></a></div>
            <div class="product_infos_heart"><i  class="far fa-heart"></i></div>
            <div class="product_infos_prix"> $ {{featured_p?.prix}}</div>
        </div>
      </div>
</div>
