<div class="article">
    <div class="article_img-content">
      <picture>
        <img src="https://s9.decofinder.com/0/0/zoom-autre/vig2/1388/1388969/Bain-De-Soleil-Italy-Dream-Design-Reef.jpg" alt=""/>
      </picture>
    </div>
    <div class="article_infos">
      <div class="article_header">
        <span class="article_header_title">How to</span>
        <span class="article_header_comment"><i class="fas fa-comments"></i> &nbsp;comments 5</span>
        <span class="article_header_date"><i class="fas fa-clock"></i>&nbsp;date : 5 sep 2017</span>
      </div>
      <div class="article_infos_title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, eveniet!</div>
      <div class="article_infos_description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor magnam
        illum suscipit voluptatem fuga voluptatibus. Optio odit autem magnam!
      </div>
      <div class="article_infos_auteur">
          <div class="auteur_img-content">
            <a >
              <picture>
                <img class="avatar" src="https://mir-s3-cdn-cf.behance.net/user/50/536f24147870431.5b7d4289b4a74.jpg" alt="">
              </picture>
            </a>
          </div>
          <div class="auteur_name">
              <div>auteur</div>
              <div>amar yassa</div>
          </div>
      </div>
      <div class="article_infos_read-more">
        <a class="btn"> read more</a>
      </div>
    </div>
  </div>
