.article{
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 680px) {
.article{
  grid-template-columns: 50% 50%;
}
}

.article_img-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 max-height: 400px;
}

.article_infos{
  padding: .3rem 2.5rem;
}
@media (min-width: 680px) {
  .article_infos{
    padding: 1rem 1.5rem;
  }
  }
  @media (min-width: 1000px) {
    .article_infos{
      padding: 2.5rem;
    }
    }

/* 1/2 en commençant par la première ligne */
.article:nth-child(2n+0) .article_infos{
  box-shadow: 4px -2px 5px -5px #333;
}
/* 1/2 en commençant par la première ligne (à droite) */
.article:nth-child(2n+1) .article_infos{
  box-shadow: 4px -2px 5px -5px #333;
}




.article_header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
@media (min-width: 680px) {
  .article_header{
    padding: 0.3rem 0;
    margin-bottom: 0.5rem;
  }
  }

@media (min-width: 1000px) {
  .article_header{
    margin-bottom: 1.5rem;
  }
  }


.article_header .fas, .article_header .far{
  color:#fa3b47;
  font-size: .7rem;
  align-self: center;
}
.article_header_title{
  color: #ffc107;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.article_header_comment,.article_header_date {
display: flex;
align-content: center;
justify-content: flex-end;
color: #acacac;
}
.article_infos_title{
  font-size: 2rem;
  line-height: 2.1rem;
  max-height: 4.3rem;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 1rem;
}


.article_infos_description{
  font-size: 1.1rem;
  line-height: 1.5rem;
  max-height: 4.5rem;
  color: #acacac;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 1rem;

}
@media (min-width: 680px) {
  .article_infos_title, .article_infos_description{
    margin-bottom: 0.5rem;
  }
  }

@media (min-width: 1000px) {
  .article_infos_title, .article_infos_description{
    margin-bottom: 1.5rem;
  }
  }

.article_infos_auteur, .article_infos_read-more {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
.article_infos_auteur {
justify-content: flex-start;
    }
.auteur_img-content{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
}
.auteur_img-content .avatar{
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.auteur_name{
  padding-left: 1rem;
}
.auteur_name div:first-child{
  color:#979292d9;
}
.auteur_name div:last-child{
  color:black;
  text-transform: capitalize;

}

.article_infos_read-more {
  justify-content: flex-end;
}
.article_infos_read-more .btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.article_infos_read-more .btn:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
