<div *ngIf="articles" class="content-articles">
    <h2 class="articles-title">latest articles</h2>
      <div class="article" *ngFor="let article of articles">
          <div class="article_img-content">
            <picture>
              <img src="{{article?.article_image}}" alt=""/>
            </picture>
          </div>
          <div class="article_infos">
            <div class="article_header">
              <span class="article_header_title">{{article?.title}}</span>
              <span class="article_header_comment"><i class="fas fa-comments"></i> &nbsp;comments {{article?.number_comments}}  </span>
              <span class="article_header_date"><i class="fas fa-clock"></i>&nbsp;date :{{article?.date  | date:'d MMM y'}}</span>
            </div>
            <div class="article_infos_title">{{article?.infos_title}}</div>
            <div class="article_infos_description">
              {{article?.infos_description}}
            </div>
            <div class="article_infos_auteur">
                <div class="auteur_img-content">
                  <a >
                    <picture>
                      <img class="avatar" src="{{article?.avatar}}" alt="">
                    </picture>
                  </a>
                </div>
                <div class="auteur_name">
                    <div>auteur</div>
                    <div>{{article?.autor_name}}</div>
                </div>
            </div>
            <div class="article_infos_read-more">
              <a class="btn"> read more</a>
            </div>
          </div>
      </div>
</div>
