@import 'mixins';
@import 'global';

$small-width : 700;

.slick {
    &-slider {
        width: 100%;
        margin: auto;
        background: black;
    }

    &-slide {
        position: relative;
        @include overlay();

        &::after {
            opacity: 0.7;
        }
    }
}

.slider_desc {
    position: absolute;
    right: 5%;
    top: 15%;
    text-align: center;
    z-index: 100;
    width: 17rem;

    @include _breakpoint-min($small-width) {
        right: 20%;
        top: 20%;
    }

    &_text {
        margin: 0 auto;
        display: block;
        text-align: left;
        font-weight: bold;

        text-transform: uppercase;
        color: #fff;

        font-size: 3rem;
        line-height: 3rem;

        @include _breakpoint-min($small-width) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    &_btn {
        @extend %btn-danger;
        font-size: 1.5rem;
    }
}
