.content-maintenance-prod{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: .8rem;
  background-color: #E8D5B7;
  padding: 1rem;
}
@media (min-width: 500px) {
  .content-maintenance-prod{
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }
}
@media (min-width: 981px) {
  .content-maintenance-prod{
    grid-template-columns: .75fr 1fr 1fr;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1150px) {
  .content-maintenance-prod{
    grid-template-columns: 1.75fr minmax(250px, 300px)  minmax(250px, 300px);
    padding: 4rem;
  }
}




.maintenance-prod-infos{
  color: #454343;
  padding-right: 8rem;
}
@media (max-width: 1100px) {
  .maintenance-prod-infos {
    padding-right: 2rem;
  }
}
@media (max-width: 980px) {
  .maintenance-prod-infos {
    grid-column: 1/-1;
    padding-right: 1rem;
  }
}



.prod-infos_title{
  font-size: 3rem;
  padding: .8rem 2.5rem .8rem 2rem   ;
  margin: 0 auto;
  display: block;
  text-align: left;
  font-weight: bold;
  line-height: 3rem;
  text-transform: uppercase;
}



.prod-infos_desc{
  padding: .8rem 2.5rem .8rem 2rem   ;
  font-size: 1.5rem;
  line-height: 1.7rem;
  word-spacing: 0.4rem;
  text-align: left;
}
.prod-infos_all-products.btn {
  font-size: 1.3rem;
  margin-left:2rem   ;
  color: #343a40;
  background-color: #fff;
  border-color: #fff;
}

.prod-infos_all-products.btn:hover {
  color: #343a40;
  background-color: #fafafa;
  border-color: #fafafa;
}



