<div class="content-maintenance-prod">
<div class="maintenance-prod-infos">
  <div><h2 class="prod-infos_title">maintenance products</h2></div>
  <div class="prod-infos_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Animi eligendi quaerat facilis dolorem voluptates delectus molestiae itaque! Nemo, ipsa corrupti.
  </div>
  <div class="prod-infos_all-products btn">see all products</div>

</div>
<app-maintenance-product class="product-1"></app-maintenance-product>
<app-maintenance-product class="product-2"></app-maintenance-product>
</div>
